<!DOCTYPE html>
<html>
{% include "base.html" %}
{% load static %}

<style>
    body {
        background-color: lightblue;
    }
   </style>
   
<body>
    <br>
    <br>
<center><img src="{% static 'registration.jpg' %}" width=1000 height=500> </center>


    <center><h1>What is an Enrollment System?</h1></center>
    <p>One of the ripple effects of the stifling competition for education institutes is 
        the growing necessity for schools to enhance their mechanisms for better serving 
        applicant’s queries and objections. This is where enrollment systems come into play, 
        simplifying and accelerating student enrollment</p>
    <p>In simpler words, an enrollment system combines all activities involved in 
        the entire enrollment process and integrates them into a system. This way, 
        everything happens in one place, both online and offline. 
        The conversation happened with the prospects, the pages they are visiting, 
        their interests and motivations, their personal details, the meetings scheduled with
         them to name a few. The overall objective of an enrollment system is to help 
         admission teams ultimately enroll more students.</p>
  
</body>
</html>